#![enable(implicit_some)]
Prefab(
    entities: [
        PrefabEntity(
            data: (
                // SpriteScenePrefab
                sprite_scene: (
                    // SpriteSheetPrefab with index 0
                    sheet: Sheet(
                        // TexturePrefab
                        texture: File("sprites/bomberman.png", (
                            "IMAGE", (
                                sampler_info: (
                                    min_filter: Nearest,
                                    mag_filter: Nearest,
                                    mip_filter: Nearest,
                                    wrap_mode: (Tile, Tile, Tile),
                                    lod_bias: (0),
                                    lod_range: (
                                        start: ( 0 ),
                                        end: ( 8000 ),
                                    ),
                                    comparison: None,
                                    border: (0),
                                    anisotropic: Off,
                                ),
                            ),
                        )),
                        sprites: [
                            Grid((
                                texture_width: 512,
                                texture_height: 128,
                                columns: 8,
                                rows: 1,
                                // Shifts the grid by 32 pixels down and the bat changes to brown
                                // position: (0, 32),
                            )),
                        ],
                        // optional
                        name: "bomberman",
                    ),
                    // SpriteRenderPrefab
                    render: (
                        sheet: "bomberman",
                        sprite_number: 0,
                    ),
                ),
                // AnimationSetPrefab
                animation_set: (
                    animations: [
                        (
                            // AnimationId
                            Fly,
                            (
                                samplers: [
                                    (
                                        0,
                                        // Only SpriteIndex channel allowed for SpriteRender in AnimationSetPrefab
                                        SpriteIndex,
                                        (
                                            // Time of key frames
                                            input: [0.0, 0.5, 0.6, 0.7, 0.8, 0.9, 1.0, 1.1, 1.2, 1.3, 1.4],
                                            // Sprite indexes from SpriteSheet for key frames
                                            output: [5, 4, 3, 2, 1, 0, 1, 2, 3, 4, 4],
                                            // Sprites can only ever be animated with Step
                                            function: Step,
                                        ),
                                    ),
                                ],
                            ),
                        ),
                    ],
                ),
            ),
        ),
    ],
)
