#![enable(implicit_some)]
/*!
    @import /amethyst_assets/src/prefab/mod.rs#Prefab
    @import ../../sphere/main.rs#MyPrefabData
    Prefab<MyPrefabData>
*/

Prefab (
    entities: [
        (
            data: (
                light: (
                    ambient_color: (Srgba(1., 1., 1., 1.0)),
                ),
            ),
        ),
    ],
)
